
body {
    background-color: #eeeeee;
}

.imagenlogo img{
    margin-bottom: 20px;
}
.container {
    border-radius: 7px;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    padding-top: 300px;
    box-shadow: 10px 10px 23px 10px rgba(0,0,0,0.50);
    -webkit-box-shadow: 10px 10px 23px 10px rgba(0,0,0,0.50);
    -moz-box-shadow: 10px 10px 23px 10px rgba(0,0,0,0.50);
    margin-top: 130px;
}

.email input {
    background-color: #bdc7c9;
    border: none;
    border-radius: 6px;
    margin-left: 33px;
    margin-bottom: 15px;
    padding: 7px;
}

.password input {
    background-color: #bdc7c9;
    border: none;
    border-radius: 6px;
    padding: 7px;
    margin-left: 10px;
}

.reset input {
    background-color: #bdc7c9;
    border: none;
    border-radius: 6px;
    padding: 7px;
    margin-left: 31px;
    margin-bottom: 15px;
}
.resetii input {
    background-color: #bdc7c9;
    border: none;
    border-radius: 6px;
    padding: 7px;
    margin-left: 10px;

}

.subcontainer {
    
}

.containerreset .subcontainer {
    background-color: red;
}

.generaldatos {
    padding-bottom: 100px;
    margin-top: -200px;
}

#btn {
    margin-top: 30px;
    margin-left: 170px;
    height: 30px;
    width: 90px;
    border-radius: 6px;
    border: none;
    background: #ff6200;
    
    cursor: pointer;
}

#btnreset {
    margin-top: 30px;
    margin-left: 240px;
    height: 30px;
    width: 90px;
    border-radius: 6px;
    border: none;
    background: #ff6200;
    
    cursor: pointer;
}

.panelincidencias {
    font-size: 18px;
    padding-bottom: 100px;
}